// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$mat-primary: (
  50: #e0eaf8,
  100: #b3cbed,
  200: #80a8e1,
  300: #4d85d5,
  400: #266bcc,
  500: #0051c3,
  600: #004abd,
  700: #0040b5,
  800: #0037ae,
  900: #0027a1,
  A100: #cbd4ff,
  A200: #98a9ff,
  A400: #657fff,
  A700: #4c6aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$ds-client-primary: mat-palette($mat-primary);
$ds-client-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ds-client-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$ds-client-theme: mat-light-theme(
  $ds-client-primary,
  $ds-client-accent,
  $ds-client-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($ds-client-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
